.nav-bar {
    background-image: linear-gradient(35deg, var(--cor-primaria), 25%, var(--cor-primaria-clara));
    height: 40px;
    position: sticky;
    top: 0px;
    z-index: 999;
    border-bottom: 1px solid azure;
}
.nav-bar > h1 {
    width: 50%;
    color: var(--cor-fontes-destaque);
    position: relative;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    text-shadow: 2px 2px 2px var(--cor-primaria);
}
#btn-nav {
    position: absolute;
    right: 5px;
    top: 5px;
}
.nav-bar-btn-container {
    background-color: var(--cor-transparente);
    position: fixed;
    top: 60px;
    right: -120px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 160px;
    width: 120px;
    padding: 10px 0;
    border-radius: 5px;
}
.nav-bar-btn-container button {
    background-color: var(--cor-primaria-clara);
    color: var(--cor-fontes-destaque);
    width: 80%;
    padding: 5px 8px;
    margin: auto;
    display: block;
    border-radius: 15px;
    font-size: .9rem;
    font-weight: 600;
    box-shadow: 2px 2px 3px var(--cor-primaria);
}
.nav-bar-btn-container button:hover {
    background-color: var(--cor-primaria);
}

.nav-mostra {
    animation: mostrar-nav .8s forwards ease;
    display: flex;
}
.nav-oculta {
    animation: ocultar-nav .6s forwards ease;
}

@keyframes mostrar-nav {
    0% {
        transform: translateX(0);
        opacity: 50%;
    }
    100% {
        transform: translateX(-130px);
        opacity: 100%;
    }
}
@keyframes ocultar-nav {
    0% {
        transform: translateX(-130px);
        opacity: 100%;
        display: flex;
    }
    100% {
        transform: translateX(0);
        opacity: 50%;
    }
}


@media screen and (min-width: 720px) {
    .nav-bar {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
    }
    #btn-nav {
        display: none;
    }
    .nav-bar > h1 {
        top: unset;
        transform: translateY(0);
        align-self: center;
    }
    .nav-bar-btn-container {
        background-color: transparent;
        position: static;
        top: unset;
        right: unset;
        display: flex;
        flex-wrap: nowrap;
        height: 35px;
        width: unset;
        padding: 5px 0;
    }
    .nav-bar-btn-container button {
        border: 1px solid var(--cor-fontes-destaque);
    }
}