.led {
    height: 5px;
    margin-bottom: 40px;
    background: var(--cor-sub-texto);
    box-shadow: 0 4px 10px rgba(240, 255, 255, 0.8);
}
#inicio {
    height: calc(100vh - 40px);
    background-image: linear-gradient(300deg, var(--cor-primaria-clara),  var(--cor-primaria));
    border-bottom: 1px solid rgb(255, 255, 255);
}
#container-inicio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#inicio #eu {
    display: block;
    background: transparent url("./../assets/img/Fernando.png") no-repeat center;
    background-size: cover;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 30%;
}
#container-inicio-titulo {
    height: 80px;
    position: relative;
    width: 100%;
    margin-top: 30px;
}
#inicio #nome {
    text-align: center;
    color: var(--cor-fontes-destaque);
    font: 600 1.8rem "playfair", serif;
}
#inicio #funcao {
    text-align: center;
    color: var(--cor-sub-texto);
    font: 100 1.5rem "playfair", serif;
}
#linha {
    background-color: white;
    width: 10px;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    display: none;
    left: 3%;
}
#inicio #contatos {
    width: 100%;
    padding: 20%;
    display: flex;
    justify-content: space-around;
    opacity: 0%;
}
.contatos-icons{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-color: azure;
    border: 3px solid rgb(34, 34, 34);
}
#github-icon {
    background: white url("../assets/img/github.png") no-repeat center;
    background-size: cover;
}
#linkedin-icon {
    background: white url("../assets/img/linkedin.png") no-repeat center;
    background-size: cover;
}
#instagram-icon {
    background: white url("../assets/img/instagram.png") no-repeat center;
    background-size: cover;
}

.animacao-titulo {
    display: block !important;
    animation: animacao-do-titulo 2.5s forwards ease-out;
}
.animacao-barra {
    animation: animacao-barra-inf 4s infinite linear
}
.animacao-contatos {
    animation: animacao-dos-contatos 6s forwards ease-out;
}

@keyframes animacao-do-titulo {
    0% {
        left: calc(100% - 10px);
        opacity: 30%;
    }
    100% {
        left: 3%;
        opacity: 100%;
    }
}

@keyframes animacao-barra-inf {
    25% {
        transform: translateY(-7%);
    }
    50% {
        transform: translateY(0%);
    }
    75% {
        transform: translateY(7%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes animacao-dos-contatos {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (orientation: landscape) {
    #inicio #eu {
        margin: unset;
        position: relative;
    }
    #container-inicio-titulo {
        position: relative;

        width: 320px;
        z-index: 10000;
    }
    #inicio #contatos {
        padding: 0;
        margin-right: 1%;
        width: 320px;
        position: absolute;
        top: 60%;
        right: 0;
    }
    
}