.led {
    height: 5px;
    margin-bottom: 40px;
    background: var(--cor-sub-texto);
    box-shadow: 0 4px 10px rgba(240, 255, 255, 0.8);
}
#inicio {
    height: calc(100vh - 40px);
    background-image: linear-gradient(300deg, var(--cor-primaria-clara),  var(--cor-primaria));
    border-bottom: 1px solid rgb(255, 255, 255);
}
#container-inicio {
    display: grid;
    gap: 10px;
    justify-items: center;
}
#inicio #eu {
    display: block;
    background: transparent url("./../assets/img/Fernando.png") no-repeat center;
    background-size: cover;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 30%;
}
#container-inicio-titulo {
    height: 80px;
    position: relative;
    width: 100%;
    margin-top: 30px;
}
#inicio #nome {
    text-align: center;
    color: var(--cor-fontes-destaque);
    font: 600 1.8rem "playfair", serif;
}
#inicio #funcao {
    text-align: center;
    color: var(--cor-sub-texto);
    font: 100 1.5rem "playfair", serif;
}
#linha {
    background-color: white;
    width: 10px;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    display: none;
    left: 3%;
}
#inicio #contatos {
    width: 100%;
    padding: 10%;
    display: flex;
    justify-content: space-around;
    opacity: 0%;
}
.contatos-icons{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-color: azure;
    border: 3px solid rgb(34, 34, 34);
}
#github-icon {
    background: white url("../assets/img/github.png") no-repeat center;
    background-size: cover;
}
#linkedin-icon {
    background: white url("../assets/img/linkedin.png") no-repeat center;
    background-size: cover;
}
#instagram-icon {
    background: white url("../assets/img/instagram.png") no-repeat center;
    background-size: cover;
}

.animacao-titulo {
    display: block !important;
    animation: animacao-do-titulo 2.5s forwards ease-out;
}
.animacao-barra {
    animation: animacao-barra-inf 4s infinite linear
}
.animacao-contatos {
    animation: animacao-dos-contatos 6s forwards ease-out;
}
.animacao-react {
    animation: animacao-react-logo 10s infinite linear;
}

@keyframes animacao-do-titulo {
    0% {
        left: calc(100% - 10px);
        opacity: 30%;
    }
    100% {
        left: 3%;
        opacity: 100%;
    }
}

@keyframes animacao-barra-inf {
    25% {
        transform: translateY(-7%);
    }
    50% {
        transform: translateY(0%);
    }
    75% {
        transform: translateY(7%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes animacao-dos-contatos {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes animacao-react-logo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (orientation: landscape) {
    #inicio #eu {
        align-self: center;
        margin: unset;
        position: relative;
    }
    #container-inicio {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #container-inicio-titulo {
        position: relative;
        width: 320px;
    }
    #inicio #contatos {
        width: 320px;
        justify-self: center;
    }
    #inicio #eu {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    #container-inicio-titulo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    #inicio #contatos {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

@media screen and (min-width: 720px) {
    #container-inicio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 20px 20px 0 0;
        position: absolute;
        width: 500px;
        height: 80%;
        background-color: var(--cor-primaria-clara);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #inicio #eu {
        width: 220px;
        height: 260px;
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #container-inicio-titulo {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #inicio #contatos {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background-color: gray;
        border-radius: 10px;
        height: 70px;
        padding: 10px;
        align-self: center;
    }
    #container-animaçao-inicio {
        position: absolute;
        right: 15%;
        top: calc(50% - 50px);
        transform: translateY(-50%);
        background-color: var(--cor-primaria-clara);
        padding: 20px;
        border-radius: 20px;
    }
    #react-animado {
        width: 200px;
        height: 200px;
        background: transparent url("../assets/img/react.png") no-repeat center;
        background-size: cover;
        right: 0;
    }
}