#container-sobremim {
    position: relative;
    padding: 20px 0;
    height: 800px;
    background-image: radial-gradient(circle, var(--cor-primaria-clara), var(--cor-primaria));
}
#sobremim {
    display: none;
    position: fixed;
    margin: auto;
    border-radius: 12px;
    border: 1px solid azure;
    background-color: var(--cor-transparente);
    padding: 8px;
    height: 300px;
    width: 80%;
    opacity: 0%;
    left: 10%;
    top: 20%;
    box-shadow: 5px 5px 5px var(--cor-primaria);
}
#sobremim h1 {
    font: 700 1.8rem "playfair", serif;
    color: var(--cor-fontes-destaque);
    margin-bottom: 10px;
}
#sobremim p {
    font: 500 1rem "verdana", sans-serif;
    color: var(--cor-fontes);
    margin-bottom: 5px;
}
#mais-sobremim-btn {
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    color: var(--cor-fontes);
    background-color: rgba(255, 255, 255, 0.116);
    right: 10px;
    bottom: 10px;
}
#close {
    color: black;
    position: fixed;
    right: 15vw;
    top: 10vh;
    z-index: 1000;
}
#mais-sobremim {
    display: none;
    position: fixed;
    background-color: azure;
    height: 80%;
    width: 80%;
    z-index: 1000;
    left: 10vw;
    bottom: 10vh;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}
#mais-sobremim h1 {
    font: 900 1.7rem "playfair", serif;
    color: black;
    margin: 25px 0;
    background-color: rgb(206, 206, 206);
    padding: 5px 2px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#timeline {
    position: relative;
}
#linha-timeline {
    background-color: rgb(46, 155, 155);
    height: 100%;
    width: 5px;
    position: absolute;
    transform: translateX(-8px);
}
.sub-timeline {
    background-image: linear-gradient(90deg, rgb(206, 206, 206), 80%, transparent);
    margin: 20px 0 5px;
    padding: 5px;
    border-radius: 5px;
    font: 700 1.3rem "playfair", serif;
    box-shadow: 2px 2px 2px black;
}
.paragrafo-timeline {
    background-color: rgb(191, 192, 192);
    padding: 8px;
    border-radius: 10px;
    color: black;
    box-shadow: 2px 2px 2px black;
}

.animacao-sobremim {
    animation: animacao-sobremim .5s forwards ease;
}
.animacao-sobremim-reverso {
    animation: animacao-sobremim-reverso .2s forwards ease;
}

@keyframes animacao-sobremim {
    0% {
        opacity: 0%;
        left: 100%;
    }
    100% {
        opacity: 100%;
        left: 10%;
    }
}

@keyframes animacao-sobremim-reverso {
    0% {
        opacity: 100%;
        left: 10%;
    }
    100% {
        opacity: 0%;
        left: 100%;
    }
}

@keyframes animacao-mover-y {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes animacao-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen  and (orientation: landscape){
    #sobremim {
        height: 220px;
    }
}

@media screen and (min-width: 720px) {
    #sobremim {
        width: 40%;
    }
    #container-animacao-sobremim {
        width: 30%;
        position: absolute;
        right: 30px;
        top: 50%;
        animation: animacao-mover-y 5s infinite linear;
    }
    #animacao-decoracao-sobremim {
        width: 90%;
        rotate: 90deg;
        animation: animacao-mover-y 3s infinite linear;
    }
    #barra-rotatoria {
        height: 80px;
        width: 80px;
        background-color: rgb(71, 71, 71);
        animation: animacao-rotate 5s infinite linear;
        border: 1px solid black;
    }
    #face {
        width: 100%;
        height: 100%;
        position: relative;
        display: none;
    }
    #eye-left {
        width: 15px;
        height: 20px;
        background-color: azure;
        position: absolute;
        left: 15px;
        top: 15px;
    }
    #eye-right {
        width: 15px;
        height: 20px;
        background-color: azure;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    #mount {
        width: 60px;
        height: 20px;
        background-color: azure;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }
}