#container-sobremim {
    position: relative;
    padding: 20px 0;
    height: 800px;
    background-image: radial-gradient(circle, var(--cor-primaria-clara), var(--cor-primaria));
}
#sobremim {
    display: none;
    position: fixed;
    margin: auto;
    border-radius: 12px;
    border: 1px solid azure;
    background-color: var(--cor-transparente);
    padding: 8px;
    height: 300px;
    width: 80%;
    opacity: 0%;
    left: 10%;
    top: 20%;
}
#sobremim h1 {
    font: 700 1.8rem "playfair", serif;
    color: var(--cor-fontes-destaque);
    margin-bottom: 10px;
}
#sobremim p {
    font: 500 1rem "verdana", sans-serif;
    color: var(--cor-fontes);
    margin-bottom: 5px;
}
#mais-sobremim-btn {
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    color: var(--cor-fontes);
    background-color: rgba(255, 255, 255, 0.116);
    right: 10px;
    bottom: 10px;
}
#mais-sobremim {
    display: none;
    position: fixed;
    background-color: azure;
    height: 80%;
    width: 80%;
    z-index: 1000;
    left: 10vw;
    bottom: 10vh;
    padding: 10px;
    border-radius: 10px;
    overflow-x: scroll;
}
#mais-sobremim h1 {
    font: 700 1.8rem "playfair", serif;
    color: var(--cor-fontes-oposta);
    margin: 15px 0;
}

.animacao-sobremim {
    animation: animacao-sobremim .5s forwards ease;
}
.animacao-sobremim-reverso {
    animation: animacao-sobremim-reverso .2s forwards ease;
}

@keyframes animacao-sobremim {
    0% {
        opacity: 0%;
        left: 100%;
    }
    100% {
        opacity: 100%;
        left: 10%;
    }
}

@keyframes animacao-sobremim-reverso {
    0% {
        opacity: 100%;
        left: 10%;
    }
    100% {
        opacity: 0%;
        left: 100%;
    }
}