* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    border: none;
}

:root {
    --cor-primaria: rgb(19, 19, 19) ;
    --cor-primaria-clara: rgb(59, 59, 59);
    --cor-secundaria: rgb(34, 34, 34) ;
    --cor-fontes: azure;
}