@font-face {
    font-family: "Playfair";
    src: url("./assets/fontes/PlayfairDisplay-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

:root {
    --cor-primaria: rgb(19, 19, 19) ;
    --cor-primaria-clara: rgb(59, 59, 59);
    --cor-secundaria: rgb(34, 34, 34) ;
    --cor-fontes-destaque: azure;
    --cor-fontes: rgb(204, 204, 204);
    --cor-sub-texto: rgb(165, 210, 220);
}