#habilidades {
    border-top: 1px solid var(--cor-primaria-clara);
    height: 950px;
    background-image:linear-gradient(315deg, var(--cor-primaria-clara), 20%, var(--cor-primaria));
}
#habilidades > h1 {
    text-align: center;
    margin: 30px 0;
    color: var(--cor-fontes-destaque);
    font: 700 1.8rem "playfair", serif;
}
#habilidades-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.hab {
    background-color: transparent;
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}
.hab:hover {
    background-color: var(--cor-transparente);
}
.hab img {
    width: 80%;
}
.hab h2 {
    text-align: center;
    color: var(--cor-fontes-destaque);
    font: 600 1.3rem "playfair", serif;
}
#display_hab {
    width: 100%;
    background-color: var(--cor-transparente);
    padding: 12px;
    margin-top: 20px;
    color: var(--cor-fontes-destaque);
    font-family: playfair;
}
#habilidades-container #ingles {
    width: 92%;
}
#habilidades-container #ingles img {
    width: 40%;
}

.display_hab_text {
    display: none;
}
.display_hab_text > h1 {
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}
#selecione